{# purpose of this template: entries atom feed #}
<?xml version="1.0" encoding="{% set charset = pageGetVar('meta.charset') %}{% if charset == 'ISO-8859-15' %}ISO-8859-1{% else %}{{ charset }}{% endif %}" ?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title type="text">{{ __('Latest entries') }}</title>
    <subtitle type="text">{{ __('A direct feed showing the list of entries') }} - {{ getModVar('ZConfig', 'slogan') }}</subtitle>
    <author>
        <name>{{ getModVar('ZConfig', 'sitename') }}</name>
    </author>
{% set amountOfItems = items|length %}
{% if amountOfItems > 0 %}
{% set uniqueID %}tag:{{ app.request.getSchemeAndHttpHost()|replace({ 'http://': '', '/': '' }) }},{{ items.first.createdDate|date('Y-m-d') }}:{{ path('mueternizermodule_entry_' ~ routeArea ~ 'display', { 'id': items.first.id }) }}{% endset %}
    <id>{{ uniqueID }}</id>
    <updated>{{ items[0].updatedDate|date('Y-m-dTH:M:SZ') }}</updated>
{% endif %}
    <link rel="alternate" type="text/html" hreflang="{{ app.request.locale }}" href="{{ url('mueternizermodule_entry_' ~ routeArea ~ 'index') }}" />
    <link rel="self" type="application/atom+xml" href="{{ app.request.getSchemeAndHttpHost() ~ app.request.getBasePath() }}" />
    <rights>Copyright (c) {{ 'now'|date('Y') }}, {{ app.request.getSchemeAndHttpHost()|e }}</rights>
{% for entry in items %}
    {{ block('entry') }}
{% endfor %}
</feed>
{% block entry %}
    <entry>
        {{ block('entry_content') }}
    </entry>
{% endblock %}
{% block entry_content %}
    <title type="html">{{ entry.getTitleFromDisplayPattern()|notifyFilters('mueternizermodule.filterhook.entries') }}</title>
    <link rel="alternate" type="text/html" href="{{ url('mueternizermodule_entry_' ~ routeArea ~ 'display', { 'id': entry.id }) }}" />
    {% set uniqueID %}tag:{{ app.request.getSchemeAndHttpHost()|replace({ 'http://': '', '/': '' }) }},{{ entry.createdDate|date('Y-m-d') }}:{{ path('mueternizermodule_entry_' ~ routeArea ~ 'display', { 'id': entry.id }) }}{% endset %}
    <id>{{ uniqueID }}</id>
    {% if entry.updatedDate|default %}
        <updated>{{ entry.updatedDate|date('Y-m-dTH:M:SZ') }}</updated>
    {% endif %}
    {% if entry.createdDate|default %}
        <published>{{ entry.createdDate|date('Y-m-dTH:M:SZ') }}</published>
    {% endif %}
    {% if entry.createdUserId|default %}
        {% set cr_uname = mueternizermodule_userVar('uname', obj.createdUserId) %}
        {% set cr_name = mueternizermodule_userVar('name', obj.createdUserId) %}
        <author>
           <name>{{ cr_name|default(cr_uname) }}</name>
           <uri>{{ mueternizermodule_userVar('_UYOURHOMEPAGE', entry.createdUserId, '-') }}</uri>
           <email>{{ mueternizermodule_userVar('email', entry.createdUserId) }}</email>
        </author>
    {% endif %}
    <summary type="html">
        <![CDATA[
        {{ entry.text|truncate(150, true, '&hellip;')|default('-') }}
        ]]>
    </summary>
    <content type="html">
        <![CDATA[
        {{ entry.notes|replace({ '<br>': '<br />' }) }}
        ]]>
    </content>
{% endblock %}
