{# purpose of this template: entries display view #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : (routeArea == 'admin' ? 'adminBase' : 'base') %}
{% extends 'MUEternizerModule::' ~ baseTemplate ~ '.html.twig' %}
{% block pageTitle %}{{ entry.getTitleFromDisplayPattern()|default(__('Entry')) }}{% endblock %}
{% block title %}
    {% set templateTitle = entry.getTitleFromDisplayPattern()|default(__('Entry')) %}
    {{ templateTitle|notifyFilters('mueternizermodule.filter_hooks.entries.filter') }}{% if routeArea == 'admin' %} <small>({{ entry.workflowState|mueternizermodule_objectState(false)|lower }})</small>{% endif %}
    {% set itemActions = knp_menu_get('MUEternizerModule:ItemActionsMenu:menu', [], { entity: entry, area: routeArea, context: 'display' }) %}
    <div class="dropdown">
        <a id="itemActions{{ entry.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> {{ __('Actions') }} <span class="caret"></span></a>
        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
    </div>
{% endblock %}
{% block admin_page_icon 'eye' %}
{% block content %}
    {% set isQuickView = app.request.query.getBoolean('raw', false) %}
    <div class="mueternizermodule-entry mueternizermodule-display">

    <dl>
        {% if entry.workflowState is not empty and routeArea == 'admin' %}
            <dt>{{ __('State') }}</dt>
            <dd>{{ entry.workflowState|mueternizermodule_listEntry('entry', 'workflowState') }}</dd>
        {% endif %}
        {% if entry.ip is not empty %}
            <dt>{{ __('Ip') }}</dt>
            <dd>{{ entry.ip }}</dd>
        {% endif %}
        {% if entry.name is not empty %}
            <dt>{{ __('Name') }}</dt>
            <dd>{{ entry.name }}</dd>
        {% endif %}
        {% if entry.email is not empty %}
            <dt>{{ __('Email') }}</dt>
            <dd>{% if entry.email is not empty %}
            {% if not isQuickView %}
            <a href="mailto:{{ entry.email|protectMail }}" title="{{ __('Send an email') }}" class="fa fa-envelope"></a>
            {% else %}
                {{ entry.email|protectMail }}
            {% endif %}
            {% else %}&nbsp;{% endif %}
            </dd>
        {% endif %}
        {% if entry.homepage is not empty %}
            <dt>{{ __('Homepage') }}</dt>
            <dd>{% if entry.homepage is not empty %}
            {% if not isQuickView %}
            <a href="{{ entry.homepage }}" title="{{ __('Visit this page') }}" class="fa fa-external-link-square"></a>
            {% else %}
                {{ entry.homepage }}
            {% endif %}
            {% else %}&nbsp;{% endif %}
            </dd>
        {% endif %}
        {% if entry.location is not empty %}
            <dt>{{ __('Location') }}</dt>
            <dd>{{ entry.location }}</dd>
        {% endif %}
        {% if entry.text is not empty %}
            <dt>{{ __('Text') }}</dt>
            <dd>{{ entry.text|safeHtml }}</dd>
        {% endif %}
        {% if entry.notes is not empty %}
            <dt>{{ __('Notes') }}</dt>
            <dd>{{ entry.notes|safeHtml }}</dd>
        {% endif %}
        
    </dl>

    {{ include('@MUEternizerModule/Helper/includeStandardFieldsDisplay.html.twig', { obj: entry }) }}

    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block display_hooks %}
    {% set hooks = notifyDisplayHooks(eventName='mueternizermodule.ui_hooks.entries.display_view', id=entry.id, urlObject=currentUrlObject) %}
    {% for providerArea, hook in hooks if providerArea != 'provider.scribite.ui_hooks.editor' %}
        <h4>{{ providerArea }}</h4>
        {{ hook }}
    {% endfor %}
{% endblock %}
