{# purpose of this template: entries list view #}
{% extends routeArea == 'admin' ? 'MUEternizerModule::adminBase.html.twig' : 'MUEternizerModule::base.html.twig' %}
{% block title own ? __('My entries') : __('Entries list') %}
{% block admin_page_icon 'list-alt' %}
{% block content %}
<div class="mueternizermodule-entry mueternizermodule-view">

{% set formposition = getModVar('MUEternizerModule', 'formposition') %}

{% if routeArea != 'admin' %}
<div id="eternizer">
{% if formposition == 'above' %}
    {{ mueternizermodule_showEditForm() }}
    <br style="clear: both;" />
{% endif %}
{% for entry in items %}
        <div class="etz_entry z-clearfix {{ cycle (['etz_bg1','etz_bg2'], loop.index0) }}">
            <div class="col-md-4 etz_author">
                <div class="etz_avatar">{{ include('@MUEternizerModule/Helper/includeStandardFieldsDisplay2.html.twig', {obj: entry}) }}</div>
                {% if entry.email is not empty or entry.homepage is not empty or entry.location is not empty %}
                    <dl class="etz_options">
                        {% if entry.email is not empty %}
                            <dt>{{ __('Email') }}</dt>
                            <dd>
                                <a href="mailto:{{ entry.email|protectMail }}" title="{{ __('Send an email') }}" class="fa fa-envelope"></a>
                            </dd>
                        {% endif %}
                        {% if entry.homepage is not empty %}
                            <dt>{{ __('Homepage') }}</dt>
                            <dd>
                                <a href="{{ entry.homepage }}" title="{{ __('Visit this page') }}" class="fa fa-external-link-square"></a>
                            </dd>
                        {% endif %}
                        {% if entry.location is not empty %}
                            <dt>{{ __('Location') }}</dt>
                            <dd>{{ entry.location|safeHtml }}</dd>
                        {% endif %}
                    </dl>
                {% endif %}
            </div>
            <div class="col-md-8 etz_body">
                <div class="etz_info">
                    <div class="etz_title">
                        <div class="etz_name">
                            {% if entry.name is not empty %}
                                <span class="etz_attr">{{ entry.name|safeHtml }}</span>
                            {% else %}
							{% set guest = getModVar('ZikulaUsersModule', 'anonymous') %}
							{% set ownerName = entry.createdBy.getUname() %}
                                {% if ownerName is empty %}							
                                    {{ guest|safeHtml }}
                                {% else %}
                                    {% if ownerName is not empty %}
                                    {% set profileLink = entry.createdBy.getUid()|profileLinkByUserId() %}
                                        {{ ownerName|safeHtml }}
                                     {% else %}
                                        {{ guest|safeHtml }}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
							{{ __f('created on %s', {'%s': entry.createdDate|date("d.m.Y H:i:s")}) }}
                        </div>
                    </div>
					{% set itemActions = knp_menu_get('MUEternizerModule:ItemActionsMenu:menu', [], { entity: entry, area: routeArea, context: 'view' }) %}
                    <div class="etz_action">
                        {% if itemActions|length > 0 %}
						{#% set userid = mueternizermodule_userVar('uid') %#}
						{% set editentries = getModVar('MUEternizerModule', 'editentries') %}
                            {% if entry.createdBy.getUid() == 2 and entry.createdBy.getUid() > 1 and editentries == 1 %}
                            <div class="eternizer-user-entry-edit">{% set out = mueternizermodule_editEntry(entry.id, entry.createdBy.getUid(), entry.createdDate) %}{{ out|raw }}</div>
                                {#% for option in itemActions %}
                                    <a href="{{ option.url }}" title="{{ option.linkTitle|e('html_attr') }}" role="menuitem" tabindex="-1" class="fa fa-{{ option.icon }}">{{ option.linkText }}</a>
                                {% endfor %#}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="etz_content">
				     {{ entry.text }}
                    {#{ entry.text|notifyFilters:'eternizer.filter_hooks.entries.filter'|safeHtml|nl2br }#}
                    {% if entry.notes is not empty %}
                        {% if entry.updatedBy.getUid() == entry.createdBy.getUid() %}
                        <p style="margin-top: 2em;" class="entry-comment">
                            <strong class="entry-comment-label">{{ __('Comment:') }}</strong>
                            <br/>
                            {{ entry.notes|safeHtml }}
                        </p>
                        {% endif %}
                    {% endif %}
                    {% if entry.updatedDate > entry.createdDate and entry.createdBy.getUid() == entry.updatedBy.getUid() %}
                        <br/>
                        <span class="etz_updated">{{ __f('Updated on %s', {'%s': entry.updatedDate|date("d.m.Y")}) }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        
        {% else %}
        <tr class="z-datatableempty">
            <td class="z-left" colspan="9">{{ __('No entries found.') }}</td>
        </tr>
		{% endfor %}

		{% if formposition == 'below' %}
            <br style="clear: both;" />	
            {{ mueternizermodule_showEditForm() }}
        {% endif %}
		</div>
        
    {% endif %}
		
		
    {% if routeArea == 'admin' %}
    {{ block('page_nav_links') }}

    {{ include('@MUEternizerModule/Entry/viewQuickNav.html.twig') }}{# see template file for available options #}

    {% if routeArea == 'admin' %}
    <form action="{{ path('mueternizermodule_entry_' ~ routeArea ~ 'handleselectedentries') }}" method="post" id="entriesViewForm" class="form-horizontal" role="form">
        <div>
    {% endif %}
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <colgroup>
                {% if routeArea == 'admin' %}
                    <col id="cSelect" />
                {% endif %}
                <col id="cItemActions" />
                {% if routeArea == 'admin' %}
                <col id="cWorkflowState" />
                {% endif %}
                <col id="cIp" />
                <col id="cName" />
                <col id="cEmail" />
                <col id="cHomepage" />
                <col id="cLocation" />
                <col id="cText" />
                <col id="cNotes" />
            </colgroup>
            <thead>
            <tr>
                {% if routeArea == 'admin' %}
                    <th id="hSelect" scope="col" class="{% if items|length > 0 %}fixed-column {% endif %}text-center z-w02">
                        <input type="checkbox" class="mueternizer-mass-toggle" />
                    </th>
                {% endif %}
                <th id="hItemActions" scope="col" class="{% if items|length > 0 %}fixed-column {% endif %}z-order-unsorted z-w02">{{ __('Actions') }}</th>
                {% if routeArea == 'admin' %}
                <th id="hWorkflowState" scope="col" class="text-left">
                    <a href="{{ sort.workflowState.url }}" title="{{ __f('Sort by %s', {'%s': 'state'}) }}" class="{{ sort.workflowState.class }}">{{ __('State') }}</a>
                </th>
                {% endif %}
                <th id="hIp" scope="col" class="text-left">
                    <a href="{{ sort.ip.url }}" title="{{ __f('Sort by %s', {'%s': 'ip'}) }}" class="{{ sort.ip.class }}">{{ __('Ip') }}</a>
                </th>
                <th id="hName" scope="col" class="text-left">
                    <a href="{{ sort.name.url }}" title="{{ __f('Sort by %s', {'%s': 'name'}) }}" class="{{ sort.name.class }}">{{ __('Name') }}</a>
                </th>
                <th id="hEmail" scope="col" class="text-center">
                    <a href="{{ sort.email.url }}" title="{{ __f('Sort by %s', {'%s': 'email'}) }}" class="{{ sort.email.class }}">{{ __('Email') }}</a>
                </th>
                <th id="hHomepage" scope="col" class="text-center">
                    <a href="{{ sort.homepage.url }}" title="{{ __f('Sort by %s', {'%s': 'homepage'}) }}" class="{{ sort.homepage.class }}">{{ __('Homepage') }}</a>
                </th>
                <th id="hLocation" scope="col" class="text-left">
                    <a href="{{ sort.location.url }}" title="{{ __f('Sort by %s', {'%s': 'location'}) }}" class="{{ sort.location.class }}">{{ __('Location') }}</a>
                </th>
                <th id="hText" scope="col" class="text-left">
                    <a href="{{ sort.text.url }}" title="{{ __f('Sort by %s', {'%s': 'text'}) }}" class="{{ sort.text.class }}">{{ __('Text') }}</a>
                </th>
                <th id="hNotes" scope="col" class="text-left">
                    <a href="{{ sort.notes.url }}" title="{{ __f('Sort by %s', {'%s': 'notes'}) }}" class="{{ sort.notes.class }}">{{ __('Notes') }}</a>
                </th>
            </tr>
            </thead>
            <tbody>
        
        {% for entry in items %}
            <tr>
                {% if routeArea == 'admin' %}
                    <td headers="hSelect" class="fixed-column text-center z-w02">
                        <input type="checkbox" name="items[]" value="{{ entry.getKey() }}" class="mueternizer-toggle-checkbox" />
                    </td>
                {% endif %}
                <td id="itemActions{{ entry.getKey() }}" headers="hItemActions" class="fixed-column actions nowrap z-w02">
                    {% set itemActions = knp_menu_get('MUEternizerModule:ItemActionsMenu:menu', [], {entity: entry, area: routeArea, context: 'view'}) %}
                    <div class="dropdown">
                        <a id="itemActions{{ entry.getKey() }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> <span class="caret"></span></a>
                        {{ knp_menu_render(itemActions, {template: 'ZikulaMenuModule:Override:actions.html.twig'}) }}
                    </div>
                </td>
                {% if routeArea == 'admin' %}<td headers="hWorkflowState" class="text-left nowrap">
                    {{ entry.workflowState|mueternizermodule_objectState }}
                </td>
                {% endif %}<td headers="hIp" class="text-left">
                    {{ entry.ip }}
                </td>
                <td headers="hName" class="text-left">
                    <a href="{{ path('mueternizermodule_entry_' ~ routeArea ~ 'display', {'id': entry.getId()}) }}" title="{{ __('View detail page')|e('html_attr') }}">{{ entry.name|notifyFilters('mueternizermodule.filterhook.entries')|safeHtml }}</a>
                </td>
                <td headers="hEmail" class="text-center">
                    {% if entry.email is not empty %}
                    <a href="mailto:{{ entry.email|protectMail }}" title="{{ __('Send an email') }}" class="fa fa-envelope"></a>
                    {% else %}&nbsp;{% endif %}
                </td>
                <td headers="hHomepage" class="text-center">
                    {% if entry.homepage is not empty %}
                    <a href="{{ entry.homepage }}" title="{{ __('Visit this page') }}" class="fa fa-external-link-square"></a>
                    {% else %}&nbsp;{% endif %}
                </td>
                <td headers="hLocation" class="text-left">
                    {{ entry.location }}
                </td>
                <td headers="hText" class="text-left">
                    {{ entry.text|striptags|truncate(50) }}
                </td>
                <td headers="hNotes" class="text-left">
                    {{ entry.notes|striptags|truncate(50) }}
                </td>
            </tr>
        {% else %}
            <tr class="z-{{ routeArea == 'admin' ? 'admin' : 'data' }}tableempty">
                <td class="text-left" colspan="{% if routeArea == 'admin' %}10{% else %}9{% endif %}">
            {{ __('No entries found.') }}
              </td>
            </tr>
        {% endfor %}
        
            </tbody>
        </table>
        </div>
        {% endif %}
        
        {% if all != 1 and pager|default %}
            {{ pager({rowcount: pager.amountOfItems, limit: pager.itemsPerPage, display: 'page', route: 'mueternizermodule_entry_' ~ routeArea ~ 'view'}) }}
        {% endif %}
    {% if routeArea == 'admin' %}
            <fieldset>
                <label for="mUEternizerModuleAction" class="col-sm-3 control-label">{{ __('With selected entries') }}</label>
                <div class="col-sm-6">
                    <select id="mUEternizerModuleAction" name="action" class="form-control input-sm">
                        <option value="">{{ __('Choose action') }}</option>
                        <option value="approve" title="{{ __('Update content and approve for immediate publishing.') }}">{{ __('Approve') }}</option>
                        <option value="delete" title="{{ __('Delete content permanently.') }}">{{ __('Delete') }}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="submit" value="{{ __('Submit') }}" class="btn btn-default btn-sm" />
                </div>
            </fieldset>
        </div>
    </form>
    {% endif %}

    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block page_nav_links %}
    <p>
        {% if canBeCreated %}
            {% if hasPermission('MUEternizerModule:Entry:', '::', 'ACCESS_COMMENT') %}
                {% set createTitle = __('Create entry') %}
                <a href="{{ path('mueternizermodule_entry_' ~ routeArea ~ 'edit') }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
            {% endif %}
        {% endif %}
        {% if all == 1 %}
            {% set linkTitle = __('Back to paginated view') %}
            <a href="{{ path('mueternizermodule_entry_' ~ routeArea ~ 'view') }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
        {% else %}
            {% set linkTitle = __('Show all entries') %}
            <a href="{{ path('mueternizermodule_entry_' ~ routeArea ~ 'view', {all: 1}) }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
        {% endif %}
    </p>
{% endblock %}
{% block display_hooks %}
    
    {# here you can activate calling display hooks for the view page if you need it #}
    {# % if routeArea != 'admin' %}
        {% set hooks = notifyDisplayHooks(eventName='mueternizermodule.ui_hooks.entries.display_view', urlObject=currentUrlObject) %}
        {% for providerArea, hook in hooks %}
            {{ hook }}
        {% endfor %}
    {% endif % #}
{% endblock %}
